<template>
  <div class="home">

	</div>
</template>

<script>
  import { Contract } from "@ethersproject/contracts";
  import { getDefaultProvider } from "@ethersproject/providers";
  import { addresses, abis } from "@project/contracts";
  import GET_TRANSFERS from "../graphql/subgraph";
	import Web3 from 'web3'

  export default {
    methods: {
      readOnchainData: async function () {
        // Should replace with the end-user wallet, e.g. Metamask
        const defaultProvider = getDefaultProvider();
        // Create an instance of an ethers.js Contract
        // Read more about ethers.js on https://docs.ethers.io/v5/api/contract/contract/
        const ceaErc20 = new Contract(addresses.ceaErc20, abis.erc20, defaultProvider);
        // A pre-defined address that owns some CEAERC20 tokens
        const tokenBalance = await ceaErc20.balanceOf("0x3f8CB69d9c0ED01923F11c829BaE4D9a4CB6c82C");
        console.log({ tokenBalance: tokenBalance.toString() });
      },
    },
    name: "HelloWorld",
    props: {
      msg: String,
    },
    async mounted() {
      try {
        const { data, loading, stale } = await this.$apollo.query({
          query: GET_TRANSFERS,
        });
        if (!loading && !stale && data && data.transfers) {
          console.log({ transfers: data.transfers });
        }
      } catch (error) {
        console.error("Error while pulling data from the subgraph:", error);
      }
    },
  };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  h1 {
    margin-top: 24px;
  }

  h3 {
    margin: 40px 0 0;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }

  a {
    color: #42b983;
  }
</style>
